@use 'fonts' as *;
@use 'variables'as *;
@use 'mixins' as *;

.container:has(.erro-404) {
    display: block !important;
}

.erro-404 {
    display: flex !important;
    flex-direction: column;
    grid-template-columns: none !important;
    width: 100% !important;

    @include mobile {
        padding: $space-6 $space-3;
    }

    img {
        width: 50%;
        max-width: 300px;
        margin: 0 auto;

        @include mobile {
            width: 100%;
        }
    }

    h1 {
        text-align: center;
        color: $text-color;
        font-size: $text-xl !important; 
    }
}