@use 'variables'as *;

.erro-404 {
    display: flex;
    flex-direction: column;

    h1 {
        color: $text-color;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 50px 20px;
    }

    img {
        width: 50%;
        margin: 0 auto;

        @media (max-width: $breakpoint-mobile) {
            width: 100%;
        }
    }

    h1 {
        width: 100%;
    }
}