@use 'variables' as *;

.single hr {
    animation: backInRight;
    animation-duration: 1.58s;
    margin: 50px 0;
}


.heading {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0 0 0;

    animation: backInLeft;
    animation-duration: 1.55s;

    .banner{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: 300px;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            filter: grayscale(1) brightness(.25);

            @media (max-width:770px) {
                height: auto;
            }
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            z-index: 2;
            text-align: center;
        }
    }

    

    p {
        margin: 20px 0 0 0;
    }

    .date,
    .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 0 30px 0;

        @media (max-width:770px) {
            width: 50%;
        }

        span {
            margin-right: 5px;
        }

        a {
            color: #fff;
        }
    }
}

.social_share_links {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width:770px) {
        bottom: 10px;
        right: 10px;
        z-index: 999;
        margin: 0;
    }

    li {
        margin: 15px 0;

        a {
            span {
                background-color: $color-primary;
                color: $color-secondary;
                padding: 7px 5px;
                margin-right: 10px;
                border-radius: 50%;
                border: #2e2e2e 3px solid;

                @media (max-width:770px) {
                    margin: 0;
                }

            }
        }
    }
}

.pagina-sobre {

    .sobre {
        margin-bottom: 961px;

        animation: backInUp;
        animation-duration: 1.59s;

        @media screen and (max-width: 900px) {
            margin: 50px 0;
        }

        h2 {
            font-weight: normal;
            background-image: linear-gradient(to right, #fff, #A9FE4B);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 230px auto 80px auto;
            max-width: 1000px;
            text-align: center;

            @media screen and (max-width: 900px) {
                margin: 60px 0;
            }
        }

        p {
            color: $text-color;
            max-width: 900px;
            text-align: center;
            margin: 0 auto 82px auto;

            @media screen and (max-width: 900px) {
                margin: 0 auto 60px auto;
            }
        }

        a {
            display: flex;
            justify-content: center;
            width: 234px;
            color: $text-color-secundary;
            background-color: $text-color;
            border-radius: 50px;
            padding: 20px 24px;
            margin: 0 auto;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            align-items: center;
            gap: 0.3rem;
            transition: color 0.2s ease;

            span {
                font-weight: bold;
            }
        }
    }

    .servicos {
        padding: 80px 20px;
        color: #fff;

        @media screen and (max-width: 900px) {
            padding: 0;
        }

        &__titulo {
            text-align: left;
            font-weight: 600;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 43px;
            row-gap: 43px;
            margin-top: 140px;

            @media screen and (max-width: 900px) {
                display: flex;
                flex-wrap: wrap;
                row-gap: 100px;
            }
        }
    }

    .servico-box {
        background: linear-gradient(135deg, #1C1C1C 0%, #050505 100%);
        padding: 32px;
        border-radius: 12px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        transition: 0.3s;

        @media screen and (max-width: 900px) {
            width: 100%;
        }

        &:hover {
            background-color: #141414;
            border: 2px solid $color-primary;

            h3 {
                color: $color-primary;
            }

            img {
                filter: drop-shadow(0px 8px 16px $color-primary);
            }
        }

        &:nth-child(4) {
            grid-column: span 2;

            .servico-box__conteudo {
                width: 50%;

                @media screen and (max-width: 900px) {
                    width: 100%;
                }
            }

            .servico-box__mockup {
                width: 50%;

                @media screen and (max-width: 900px) {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }

        &__icone {
            position: absolute;
            top: -11%;
            margin-bottom: 15px;

            img {
                height: 145px;
                width: auto;
            }
        }

        &__conteudo {
            flex: 1;
            margin-top: 60px;

            h3 {
                font-weight: bold;
                margin-bottom: 10px;
                text-align: left !important;
            }

            p {
                color: #ccc;
                line-height: 1.5;
            }
        }

        &__action {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 58px;
            height: 58px;
            background-color: #6E6E6E;
            color: $text-color-secundary;
            border-radius: 50%;
        }
    }

    .essencia {
        padding: 80px 20px;
    }

    .essencia__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .essencia__texto {
        width: 51%;
        min-width: 300px;
    }

    .essencia__texto h2 {
        font-weight: 400;
        margin-bottom: 20px;
        text-align: left;
    }

    .essencia__texto h2 span {
        background-image: linear-gradient(to right, #244724, #A9FE4B);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 400;
    }

    .essencia__texto p {}

    .essencia__imagem {
        width: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 400px;
        margin-top: 30px;

        @media screen and (max-width: 900px) {
            min-width: auto;
            width: 100%;
        }
    }

    .essencia__imagem img {
        width: 100%;
        max-width: 400px;
        filter: drop-shadow(0 0 15px #57ff35);
    }

}